html, div, h1, h3, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}
/**
* Navigation
**/
.top-navigation .links li:hover {
  color: #4c5058;
}
.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}
.top-navigation {
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.top-navigation > .content {
  height: 4.375rem;
}
.top-navigation .links {
  margin-top: 1.7rem;
  float: right;
}
.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 500;
}
.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
}
.top-navigation .logo {
  height: 4.375rem;
}
/**
* Introduction
**/
.introduction {
  background-image: url('../img/first-background.jpg');
  background-size:cover;
  height: 45rem;
  background-position: center;
  overflow: auto;
}
.introduction .content {
  margin-top: 20rem;
  text-align: center;
}
.introduction h1,
.introduction h3 {
  font-weight: 300;
  color: #fff;
}
.introduction h1 {
  font-size: 3rem;
  margin-top: 18rem;
}
.introduction h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
/**
* Responsive Design
**/
@media (min-width: 48rem){
  .content {
      width: 46rem;
  }
}
@media (min-width: 62rem) {
    .content {
        width: 60rem;
    }
}
@media (min-width: 75rem) {
    .content {
        width: 60%;
    }
}
